name: Run Tests

on:
  push:
    paths-ignore:
    - README*
  pull_request:
    branches: [ master ]
  workflow_dispatch:
    inputs:
      reason:
        description: 'Reason for running'
        required: true

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Log reason (manual run only)
      if: github.event_name == 'workflow_dispatch'
      run: |
        echo "Reason for triggering: ${{ github.event.inputs.reason }}"

    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: Lint with flake8
      run: flake8 . --show-source --statistics
    
    - name: Lint with cpplint
      run: cpplint --filter=-build/includesubdir,-readability/casting,-build/include --recursive .
    
    - name: Build and install
      run: |
        python setup.py install
    
    - name: Test with pytest
      run: |
        pytest -v tests
